.header {
    background-color: black;
}

.header__inner {
    max-width: 1230px;
    display: flex;
    justify-content: space-around;
}

.header__inner-logo--item {
    margin: 0px auto;
    padding: 5px;
}

.header__inner-navigation {
    margin: auto 0;
}

.header__inner-navigation--logout,
.header__inner-navigation--application,
.header__inner-navigation--list,
.header__inner-navigation--attendance {
    color: white;
    text-decoration: none;
    margin: 5px;
}