.header {
    background-color: black;
    max-width: １230px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__inner-logo--item {
    margin: 0px auto;
    padding: 5px;
}

.header__inner-navigation {
    margin: auto 0;
}

.header__inner-navigation--logout,
.header__inner-navigation--application,
.header__inner-navigation--list,
.header__inner-navigation--attendance {
    color: white;
    text-decoration: none;
    margin: 5px;
    flex-grow: 1;
}