.header {
    background-color: black;
}

.header__inner {
    max-width: 1230px;
    display: flex;
    justify-content:space-between;
}

.header__inner-logo--item {
    margin: 5px auto;
    padding-left: 5px;
}

.header__inner-navigation{
    margin: auto;
}

.header__inner-navigation--logout,
.header__inner-navigation--application,
.header__inner-navigation--list,
.header__inner-navigation--attendance{
    color: white;
    text-decoration: none;
}

