.attendance {
    background-color: rgb(233, 232, 232);
    height: 100vh;
}

.attendance-list{
    padding-top: 40px;
}

.attendance-list__title {
    padding: 0px 10px;
    margin: 0px auto;
    width: 700px;
    border-left: 5px solid black;
}

.attendance-list__date {
    background-color: white;
    margin: 30px auto;
    width: 700px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: gray;
    border-radius: 10px;
    padding: 0px 5px;
}

.attendance-list__date-container--choice{
    display: flex;
    padding: 15px 0;
}

.attendance-list__date-container--item{
    width: 20px;
    height: 20px;
}

.attendance-list__date-next{
    border: none;
        background-color: transparent;
        color: gray;
        cursor: pointer;
}


.attendance-list__date-previous{
    border: none;
    background-color: transparent;
    color: gray;
    cursor: pointer;
}

.attendance-list__table {
    margin: 3px auto;
    background-color: white;
    width: 700px;
    border-collapse: collapse;
    color: gray;
    border-radius: 10px;
}

.attendance-list__table th,
.attendance-list__table td {
    padding: 8px;
    text-align: center;
}

.attendance-list__table tr {
    border-bottom: 1px solid #ccc;
}

.attendance-list__table-detail {
    text-decoration: none;
    color: gray;
}