.attendance-list{
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
}

.attendance-list__title{
    padding: 20px 40px;
    font-size
}

.attendance-list__date{
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-top: 20px;
}