.attendance-list{
    background-color: ghostwhite;
    width: 100%;
    height: 100%;
}

.attendance-list__title{
    padding: 20px 40px;
    margin: 0;
}



.attendance-list__date-item{
    background-color: white;
    te
    margin-top: 20px;
    width: 70%;
}